[run]
branch = True
source = ielearn
include = */ielearn/*
omit =
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True
omit =
    tests/*
    setup.py
